# .htaccess na raiz do projeto
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Dynamic base discovery
    RewriteCond %{REQUEST_URI}::$0 ^(/.+)/(.*)::\2$
    RewriteRule .* - [E=BASE:%1]

    # Authorization header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule ^ - [E=HTTP_AUTHORIZATION:%0]

    # Remove /public/index.php/ from URLs
    RewriteCond %{ENV:REDIRECT_STATUS} =""
    RewriteRule ^public/index\.php(?:/(.*)|$) %{ENV:BASE}/$1 [R=301,L]

    # Serve files if they exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ %{ENV:BASE}/public/index.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        # Redirect when mod_rewrite is not available
        RedirectMatch 307 ^/$ /public/index.php/
    </IfModule>
</IfModule>